<?xml version="1.0"?>
<launch>
  <arg name="optitrack_address" default="192.168.1.100" />

  <rosparam command="load" file="$(find crazyswarm)/launch/crazyflieTypes.yaml" />
  <rosparam command="load" file="$(find crazyswarm)/launch/crazyflies.yaml" />

  <node pkg="crazyswarm" type="crazyswarm_server" name="crazyswarm_server" output="screen" >
    <rosparam subst_value="True">
      firmware: "crazyswarm" # one of "crazyswarm", "bitcraze"
      broadcast_address: "E7E7E7E701"
      world_frame: "/world"
      genericLogTopics: ["distances"]
      genericLogTopicFrequencies: [100]
      # Log the multi ranger deck distances on topic /cf1/distances:
      genericLogTopic_distances_Variables: ["range.front", "range.back", "range.up", "range.zrange", "range.left", "range.right"]
      firmwareParams: # for all (independent of type)
        commander:
          enHighLevel: 1
        stabilizer:
          estimator: 2 # 1: complementary, 2: kalman, 3: kalmanUSC (only crazyswarm firmware)
          controller: 1 # 1: PID, 2: mellinger
      # tracking
      motion_capture_type: "none" # one of none,vicon,optitrack,qualisys,vrpn
      object_tracking_type: "motionCapture" # one of motionCapture,libobjecttracker
      optitrack_host_name: "$(arg optitrack_address)"
      #vrpn_host_name: "$(arg optitrack_address)"
      save_point_clouds: ~/pointCloud.ot
      print_latency: False
      write_csvs: False
      force_no_cache: False
      enable_parameters: True
      enable_logging: True
    </rosparam>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyswarm)/launch/test.rviz"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen">
    <rosparam subst_value="true">
      server: $(arg optitrack_address)
      port: 3883

      update_frequency: 100.0
      frame_id: world

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: false
      broadcast_tf: true

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: 1.0
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>

  <node name="handInterface" pkg="crazyswarm" type="handInterface.py" output="screen"/>

  <node name="hapticFeedback" pkg="crazyswarm" type="hapticFeedback.py" output="screen"/>

</launch>
